.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#statusMessage {
    color: red;
}

#signinButton, #signupButton, #registerButton {
    background-color: #26d9ba;
    color: black;
}

.buttonHover:hover {
    background-color: #b96bed !important;
}
